{% extends 'base.html' %}
{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="col-md-10">
<h1> Add record</h1>
<form method="POST" >
    {%csrf_token%}
    {{form.as_p}}


<div class="text-center">
    <button type="submit" class="btn btn-secondary" style="padding: 9px; border-radius: 5px; background-color: #6c757d; color: white; font-weight: bold; text-decoration: none;">Update Record</button>
    <a href="{% url 'home' %}" style="padding: 10px; border-radius: 5px; background-color: #6c757d; color: white; font-weight: bold; text-decoration: none;">Back</a>
</div>
</div>
</div>

{% endblock %}